@model ApInt1.Stadion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stadion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZWA_STADIONU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA_STADIONU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROK_WYBUDOWANIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROK_WYBUDOWANIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POJEMNOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POJEMNOSC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_STADIONU }) |
    @Html.ActionLink("Back to List", "Index")
</p>
