@model IEnumerable<ApInt1.Stadion>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "List";
}
<div class="title-gradient">
    <h1>Stadiony</h1>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="team-member">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="image-wrapper">
                        <img src="@Url.Content("~/images/stadion.jpg")" alt="IMAGES" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="member-info">
                        <p class="name">Nazwa stadionu</p>
                        <p>
                            Nazwa: @Html.DisplayFor(modelItem => item.NAZWA)
                        </p>
                        <p>
                            Miasto: @Html.DisplayFor(modelItem => item.MIASTO)
                        </p>
                        <p>
                            Pojemność: @Html.DisplayFor(modelItem => item.POJEMNOSC)
                        </p>
                        <p>
                            Klub: @Html.DisplayFor(modelItem => item.Klub.NAZWA)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>