@model ApInt1.Zawodnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zawodnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WIEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KRAJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KRAJ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_OSOBA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
