@model IEnumerable<ApInt1.Zawodnik>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@if (Session["LogedUserFullname"] != null)
{
<div class="title-gradient">
    <h1>Zawodnicy - Panel Edycji</h1>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WIEK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KRAJ)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WIEK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KRAJ)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_OSOBA }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_OSOBA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_OSOBA })
            </td>
        </tr>
    }

</table>
}
else
{
    <h1>Zaloguj się by uzyskać dostęp</h1>
}
