@model IEnumerable<ApInt1.Zawodnik>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "Index";
}
<div class="title-gradient">
    <h1>Zawodnicy</h1>
</div>

@foreach (var item in Model)
{
    <div class="container">
        <div class="team-member">
            <div class="row">
                <div class="col-md-2 col-md-offset-3 col-xs-12">
                    <div class="image-wrapper">
                        <img src="@Url.Content("~/images/" + @Html.DisplayFor(modelItem => item.NAZWISKO).ToString() + ".jpg")" alt="IMAGES" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="member-info">
                        <p class="name">@Html.DisplayFor(modelItem => item.IMIE) @Html.DisplayFor(modelItem => item.NAZWISKO)</p>
                        <p>
                            Imie: @Html.DisplayFor(modelItem => item.IMIE)
                        </p>
                        <p>
                            Nazwisko: @Html.DisplayFor(modelItem => item.NAZWISKO)
                        </p>
                        <p>
                            Data urodzenia: @Html.DisplayFor(modelItem => item.DATA_URODZENIA)
                        </p>
                        <p>
                            Kraj: @Html.DisplayFor(modelItem => item.NARODOWOSC)
                        </p>
                        <p>
                            Klub: @Html.DisplayFor(modelItem => item.Klub.NAZWA)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


