@model IEnumerable<ApInt1.Klub>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

@if (Session["LogedUserFullname"] != null)
{
    <div class="title-gradient">
        <h1>Kluby - Panel Edycji</h1>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAZWA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liga.NAZWA)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAZWA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liga.NAZWA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_KLUB }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_KLUB }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_KLUB })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>Zaloguj się by uzyskać dostęp</h1>
}
